body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

header {
    font-family: Monotype Corsiva;
    font-size: 25px;
    font-weight: 500;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1pc;
}

.contact-info {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h3 {
    font-family: Monotype Corsiva;
    font-size: 30px;
    font-weight: 600;
    align-items: center;
}

#portfolio {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.portfolio-item {
    width: 300px;
    padding: 12px;
    text-align: center;
    background-color: #f9f9f97b;
    margin: 0 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1%;
    bottom: 0;
    width: 100%;
}